<!-- /templates/projeto/projetos.html -->
{% extends "base.html" %}

{% block conteudo %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Projetos Cadastrados</h1>
    <a href="/projeto/novo" class="btn btn-primary">Novo Projeto</a>
</div>
<hr>
{% if projetos|length == 0 %}
<p>Não há projetos cadastrados.</p>
{% else %}
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-bg-dark">Nome</th>            
            <th class="text-bg-dark">Descricao</th>
            <th class="text-bg-dark">Ações</th>
        </tr>
    </thead>
    <tbody>
    {% for p in projetos %}
        <tr data-id="{{ p.id }}">
            <td>{{ p.nome }}</td>
            <td>{{ p.descricao }}</td>
            <td>
                <a href="/projeto/excluir/{{ p.id }}" class="btn btn-danger btn-sm" title="Excluir" data-bs-toggle="tooltip" data-bs-placement="left">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>    
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if totalPaginas > 1 %}
<nav>
    <ul class="pagination pagination-sm">
        <li class="page-item">
            <a class="page-link {{ 'disabled' if (paginaAtual == 1) }}" href="/projeto/listagem?pa=1&tp={{ tamanhoPagina }}">
                <i class="bi bi-arrow-left"></i>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link {{ 'disabled' if (paginaAtual == 1) }}" href="/projeto/listagem?pa={{ paginaAtual-1 }}&tp={{ tamanhoPagina }}">
                <i class="bi bi-arrow-left-short"></i>
            </a>
        </li>

        {% for i in range(totalPaginas) %}
        <li class="page-item">
            <a class="page-link {{ 'active' if (paginaAtual == i+1) }}" href="/projeto/listagem?pa={{ i+1 }}&tp={{ tamanhoPagina }}">{{ i+1 }}</a>
        </li>
        {% endfor %}

        <li class="page-item">
            <a class="page-link {{ 'disabled' if (paginaAtual == totalPaginas) }}" href="/projeto/listagem?pa={{ paginaAtual+1 }}&tp={{ tamanhoPagina }}">
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link {{ 'disabled' if (paginaAtual == totalPaginas) }}" href="/projeto/listagem?pa={{ totalPaginas }}&tp={{ tamanhoPagina }}">
                <i class="bi bi-arrow-right"></i>
            </a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}

{% block script %}
<script src="/static/js/ativarTooltips.js"></script>
{% endblock %}